/data/
/results/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Media
*.mp4
*.avi
*.mov
